.container {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    
    
}

.box {
    width: 100px;
    height: 100px;
    background-color: teal;
    margin: 1px;
    opacity: 0.5;
}
.box:hover{
    opacity: 1;
    }
body{
    display: flex;
    flex-direction: column;
 align-items: center;
 justify-content: center;   
}
